@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&family=Roboto+Slab:wght@400;600&display=swap');

@import 'root-header.scss', 'root-main.scss', 'root-footer.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;

    // &::-webkit-scrollbar {
    //     width: 0;
    // }
}

body {
    &.lock {
        overflow: hidden;
    }
}

a {
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

ol, ul, li {
    list-style: none;
}

#scroll-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 100;
    text-align: center;
    font-size: 70px;
	opacity: 0.8;   

    &.hide {
        display: none;
    }

    &:hover {
        opacity: 1;
    }
}

.wrapper {
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";

    min-height: 100%;
    font-family: 'Roboto Slab', serif;
    display: grid;
}

.noselect {
    user-select: none;
}