.header {
    grid-area: header;
    display: grid;
    grid-template: 1fr / 1fr 2fr 1fr;
    align-items: center;
    height: 750px;
    padding: 25px;
    background-image: url('/img/root-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Bitter', sans-serif;

    &__container {
        height: 100%;
        text-align: center;
    }

    &__title {
        font-size: 55px;
        font-weight: 700;
        color: #fff;

        &-block {
            margin-top: 10%;
        }
    }

    &__line {
        border-bottom: 5px solid #d9d9d9;
        margin: 30px 40% 25px 40%;
    }

    &__subtitle {
        font-size: 30px;
        color: #d9d9d9;
    }

    &__arrow {
        margin-top: 10%;
        font-size: 60px;
        color: #45FF99;
        transition: all 0.3s ease 0s;

        &:hover {
            transform: rotate(-90deg);
        }
    }
}

@media (max-width: 980px) {
    .header {
        height: 600px;

        &__title {
            font-size: 45px;
        }

        &__line {
            margin: 15px 40% ;
        }

        &__subtitle {
            font-size: 35px;
        }

        &__arrow {
            font-size: 50px;
        }
    }
}

@media (max-width: 600px) {
    .header {
        height: 400px;

        &__title {
            font-size: 30px;
        }

        &__subtitle {
            font-size: 20px;
        }

        &__arrow {
            font-size: 40px;
        }
    }
}
