.all-main {
    margin: 0 50px 50px 50px;

    &__block {
        font-family: 'Roboto Slab', serif;
        margin-top: 50px;
    }
}

.all-block {
	&__title {
        color: #790000;
        font-weight: 500;
        font-size: 50px;
    }

    &__line {
        border-bottom: 4px solid #790000;
        margin-top: 20px;
        width: 60%;
    }

    &__paragraph {
        display: flex;
        margin: 50px 25px 0 25px;
        text-align: left;

        &-text, &-link {
            width: 75%;
            font-size: 30px;
            line-height: 1.5em;
        }

        &-link {
            font-size: 32px;
            color: #002c7e;
            transition: all 0.3s ease 0s;

            // &:after {
            //     content: ' →';
            //     margin-left: -10px;
            //     opacity: 0;
            //     transition: all 0.3s ease 0s;
            // }

            &:hover {
                color: #008374;
                transition: all 0.3s ease 0s;
            }
        }

        &-img {
            width: 25%;
            margin-left: 25px;
            transition: all 0.3s ease 0s;

            img {
                justify-self: center;
                max-width: 100%;
                margin: auto;
                border-radius: 15px;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
            }

            &-overlay {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .5);
                opacity: 0;
                border-radius: 15px;
                transition: all 0.3s ease 0s;

                &-text {
                    color: #fff;
                    font-size: 35px;
                }
            }

            &:hover {
                transform: translate(-10px, -10px);
    
                .all-block__paragraph-img-overlay {
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .all-main {
        margin: 0 25px;
    }

    .all-block {
        margin-top: 25px;

        &__title {
            font-size: 35px;
        }

        &__paragraph {
            margin-top: 10px;
            flex-direction: column;

            &-text, &-link {
                width: 100%;
                font-size: 27px;
            }

            

            &-img {
                width: 50%;
                margin: 25px 25%;
            }
        }
    }
}
